* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    background-color: black;
    display: flex;
    height: 90px;
    padding: 0 15px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    z-index: 1;
}

.fix {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo {
    width: 195px;
    height: 50px;
}

.nav-bar li a {
    text-decoration: none;
    font-family: montserrat;
    font-size: 14px;
    color: white;
    margin-left: 20px;
    font-weight: 530;
}

.nav-bar li a:hover {
    color: #44c5ee;
}

.button {
    background-color: #038dfe;
    padding: 10px 30px;
    border-radius: 80px;
}

.button:hover {
    background-color: white;
    color: #038dfe;
    transition: ease all;
}

.image {
    background-image: url(Images3/slide1.jpg);
    background-size: cover;
    width: 100%;
    height: 464.67px;
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-profil {
    border-radius: 80%;
    width: 276px;
    height: 247px;
    margin-top: 80px;
}

.user {
    font-size: 60px;
    font-weight: bold;
    font-family: Montserrat;
    color: #3516F6;
}

.apprenant {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.promotion {
    color: white;
    font-size: 50px;
}

.développement-web {
    color: #559fdb;
    font-size: 50px;
    letter-spacing: 0.08em;
}

.profile-details {
    text-align: center;
}

.flex {
    display: flex;
}

.brief {
    background-image: url(Images3/brief.PNG);
    background-size: cover;
    width: 425px;
    height: 552px;
    width: 33%;
    margin-left: 68px;
}

.titre {
    text-align: center;
    margin: 70px 0px;
    font-size: 60px;
}

.date_div {
    width: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}

.premier-brief {
    display: block;
    text-align: center;
    font-family: Montserrat;
    color: rgb(0, 122, 255);
    font-size: 30px;
}

.espace {
    margin-top: 90px;
}

.veille {
    background-image: url(Images3/veille.jpg);
    background-size: cover;
    width: 632px;
    height: 580px;
}

.sujet-veille {
    color: white;
    background-color: rgb(0, 122, 255);
    width: 632px;
    height: 480px;
    padding-top: 100px;
    padding-left: 70px;
    line-height: 60px;
}

.unorder-list {
    font-size: 26px;
    font-family: Montserrat;
}

.tit-veille {
    font-size: 33px;
    font-family: Montserrat;
}

.club {
    text-align: center;
    font-size: 34px;
    font-family: Montserrat;
    padding: 50px 0px;
}

.picture1 {
    background-image: url(Images3/Yoga.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
}

.picture2 {
    background-image: url(Images3/livre.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
}

.picture3 {
    background-image: url(Images3/touch-typing.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
}

.picture4 {
    background-image: url(Images3/critique.jpg);
    background-size: cover;
    width: 300px;
    height: 200px;
}

.zone {
    width: 300px;
    height: 280px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Date1 {
    font-size: 15px;
    font-family: Montserrat;
    color: royalblue;
    font-weight: bold;
}

.part1 {
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
}

.parties2 {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: black;
    height: 60.33px;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: #666666;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
}

.support {
    font-size: 14px;
    font-family: Montserrat;
    color: #337AB7;
    text-decoration: none;
    font-weight: 600;
}

.youcode {
    font-size: 14px;
    font-family: Montserrat;
    color: #8F9296;
    letter-spacing: 0.08em;
    margin-top: 30px;
}

.réseauxsociaux {
    font-size: 14px;
    font-family: Montserrat;
    color: #666666;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.icons {
    float: right;
}

.fab {
    color: white;
    margin-top: 20px;
    padding-right: 20px;
}